@media screen and (min-width: 850px) {

    h1 {
        font-size: 3.5rem;
        padding-left: 5rem;
    }

    .navigation {
        gap: 1.5rem;
    }

    .statements { 

        display: flex;
        column-gap: 1.5rem;
        flex-wrap: nowrap;
        width: 90%;
        max-width: 1500px; 
    }  
    
    .connect {
        display: flex;
        gap: 1.5rem;
        width: 890px;
        justify-content: center;
        align-content: baseline;
        margin-bottom: 1.5rem;
    } 

    .connect section {
        padding-bottom: 1.5rem;
    }
    
    .lesson {
        padding-bottom: 0;
        margin-bottom: 0;
    }

    .cf1 input[type="submit"] {
        margin-left: 3rem;
    }

    
}

@media screen and (min-width: 1150px) {
    .profiles {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
    }

    .profiles section {
        grid-template-columns: minmax(160px, 200px) 1fr;
    }
    
}