@media screen and (min-width: 575px) {


    #menu {
        display: none;
        color: black;
    }

    nav {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .navigation {
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 1rem;
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .navigation li {
        display: block;
        flex: 1 1 100%;
        padding-right: 1rem;
    }

    .navigation a {
        text-align: center;
    }

    h1 {
        font-size: 2.5rem;
    }

    
    .profiles section {
    display: grid;
    grid-template-columns: minmax(120px, 200px) 1fr;
    
    }

    .profiles section img {
    grid-column: 1/2;
    grid-row: 1/3;
    align-self: center;
    justify-self: end;
    margin: 10px;
    }
}