@media screen and (min-width: 850px) {

h1 {
    font-size: 3.5rem;
    padding-left: 5rem;
}

}

.navigation {
    gap: 1.5rem;
}

.statements {  
    flex-wrap: nowrap;
    width: 96%;
    max-width: 1500px; 
}