:root {
    --primary-color: #0D1B2A;
    --secondary-color: #1B263B;
    --accent1-color: #415A77;
    --accent2-color: #8ca0bb;
    --accent3-color: #E0E1DD;
}

body {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: var(--primary-color);
    margin: 0;
    background-color: white;
}

h1 {
    font-weight:300;
    padding: 1rem;
}
header {
    background-color: var(--secondary-color);
    color: white;
    text-align: center;
    /* padding: 1rem 0; */
    align-content: center;
}

#course-title {
    font-size: 1.5rem;    
}

.name {
    color: #f8a18c;
}

header nav {
    background-color: var(--accent1-color);
    display: flex;
    justify-content: center;
}

header nav a {
    color: white;
    text-decoration: none;
    flex: 1 1 100%;
    padding: 1rem;
    text-align: center;
    font-weight: 500;
}

nav a:hover {    
    text-decoration: overline;
}

main {    
    display: grid;
    grid-template-columns: 2fr 1fr;    
    gap: 20px;
    width: 90%;
    max-width: 1200px;
    margin: 1rem auto;
    justify-content: center;    
}

main p {
    padding: 10px;
}

.card {
    
    border: 2px solid var(--accent2-color);
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.card header {
    background-color: var(--accent2-color);
    color: var(--primary-color);    
    padding: 0.5rem;
    text-align: center;
    border-radius: 8px 8px 0 0;
}

ul li {
    margin-bottom: 10px;
}

.card.about {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
}

.card.about header{
    grid-column: 1/4;
}

.card.about img {
    width: 200px;
    border-radius: 8px;
    grid-column: 3/4;
    margin: 0.5rem auto;
    padding: 10px;
}

.card.about #background {
    grid-column: 1/3;
    grid-row: 2/3;
    line-height: 1.25;
    text-align: left;
}

.card #pg {
    text-align: center;
    grid-column: 1/3;
    align-items: baseline;    
}

.card #pg h3{
    border-bottom: 1px solid var(--primary-color);
    margin: 10px;
}

.card #pg figure {
    float: left;
    font-size: small;
    padding: 0;
}

.card #pg p {
    text-align: left;
}


footer {
    color: white;
    text-align: center;
    background-color: var(--secondary-color);
    font-weight: 400;
    padding: .5rem;
}