@media screen and (min-width: 550px) {

    #menu {
        display: none;
    }

    nav {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .navigation {
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 1rem;
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .navigation li {
        display: block;
        flex: 1 1 100%;
    }

    .navigation a {
        text-align: center;
    }

    #menu {
        display: none;
    }

    .gallery {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 1rem;
        justify-content: center;
        justify-items: center;
    }
}