body {
    font-family: montserrat;
}

header {
    background-color: #541e54;
    max-width: 600px;
    text-align: center;
}

h1 {
    padding: 1rem;
    color: white;
    font-weight: 500;
}

main {
    background-color: #dfd0df;
    max-width: 600px;
    font-weight: 500;
}

.pr1 {
    padding-left: 15px;
}

.pr1 .product {
    padding-top: 1.5rem;
}
.pr1 .product #productName {
    font-family: montserrat;
}

.pr1 label {
    display: block;   
}

.pr1 input[type="text"],
.pr1 input[type="textarea"],
.pr1 input[type="date"],
.pr1 select {
    display: block;
    padding: .75rem;
    width: 100%;
    max-width: 400px;
    border: solid 1px #bdb6b6;
    border-radius: 5px;
    margin-bottom: 1.5rem;
    font-family: montserrat;
}

.pr1 .rating-group {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 2px;
    margin-bottom: 1.5rem;
    align-items: center;
    cursor: pointer;
    max-width: 400px;
}

.rating-group label {
    grid-row: 1/2;
}

.pr1 input[type="radio"] {
    width: 25px;
    height: 25px;
}

.features-group {
    display: grid;
    grid-template-columns: .1fr 1fr;
    margin-bottom: 1.5rem;
}

.features-group label {
    align-self: center;
}

.pr1 input[type="checkbox"] {
    width: 20px;
    height: 20px;
    margin-left: 1rem;
}

.text-field {
    display: block;
}

.optional {
    font-weight: 400;
    color: #1a041a;
    font-size: .9rem;
}

textarea {
    display: block;
    width: 100%;
    max-width: 400px;
    height: 120px;
    padding: .75rem;
    border: solid 1px #bdb6b6;
    border-radius: 5px;
    font-family: montserrat;
    margin-bottom: 1.5rem;
}

.pr1 input[type="submit"] {
    border: solid 1px #bdb6b6;
    border-radius: 5px;
    font-family: montserrat;
    font-weight: 500;
    width: 96%;
    max-width: 600px;
    padding: .8rem;
    font-size: larger;
    margin-bottom: 15px;
    background-color: #a1a1d2;
}

footer {
    color: white;
    text-align: center;
    background-color: #541e54;
    font-weight: 500;
    font-size: large;
    padding: .25rem 0;
    max-width: 600px;
    margin-top: 1rem;
}

