body {
    font-family: montserrat;
}

header {
    background-color: #a44da4;
    max-width: 600px;
    text-align: center;
}

main {
    background-color: #dfd0df;
    max-width: 600px;
    font-weight: 500;
}

.pr1 {
    padding-left: 15px;
}

h1 {
    padding: 1rem;
    color: white;
    font-weight: 500;
}

.pr1 label {
    display: block;
    padding: 1rem;    
}

.pr1 div {
    padding-left: 15px;
}

.pr1 input[type="text"],
.pr1 input[type="textarea"],
.pr1 input[type="date"],
.pr1 select {
    display: block;
    padding: .75rem;
    width: 100%;
    max-width: 400px;
    border: solid 1px #bdb6b6;
    border-radius: 5px;
    margin-bottom: 1rem;
}

.ratings {
    display: flex;
    gap: 10px;
    margin-bottom: 1rem;
}

.ratings label {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.pr1 input[type="submit"] {
    border: solid 1px #bdb6b6;
    border-radius: 5px;
    font-family: montserrat;
    font-weight: 500;
    width: 96%;
    max-width: 600px;
    padding: .8rem;
    font-size: larger;
    margin-bottom: 15px;
}

.text-field {
    display: block;
}

.optional {
    font-weight: 400;
    color: #1a041a;
    font-size: .9rem;
}

textarea {
    display: block;
    width: 100%;
    max-width: 400px;
    height: 120px;
    padding: .75rem;
    border: solid 1px #bdb6b6;
    border-radius: 5px;
    font-family: montserrat;
    margin-bottom: 1rem;
}

footer {
    color: white;
    text-align: center;
    background-color: #a44da4;
    font-weight: 500;
    font-size: large;
    padding: .25rem 0;
    max-width: 600px;
    margin-top: 1rem;
}

