:root {
    --primary-color: black;
    --secondary-color: #bc002d;
    --accent1-color: #ffffff;
    --accent2-color: #09192a;
    
    margin: 0;
    padding: 0;
}

body {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: var(--primary-color);
    margin: 0;
    background-color: white;
}

header {
    background-color: var(--secondary-color);
    color: var(--accent1-color);
    text-align: center;
    padding: 1.5rem;
    
}

.hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top: solid 1rem var(--accent1-color);
    border-bottom: solid .75rem var(--secondary-color);
}

.info {
    padding: 1rem;
    text-align: center;
}

h2 {    
    text-align: center;
    padding: .5rem;
}

.data, .weather {
    display: grid;
    grid-template-columns: max-content auto;
    width: fit-content;
    margin: 0 auto;    
}

.key {
    justify-self: end;
    padding-right: 10px;    
}

.value {
    justify-self: start;
}

footer {
    color: var(--accent1-color);
    text-align: center;
    background-color: var(--secondary-color);
    font-weight: 400;
    padding: .5rem;
}