@media screen and (min-width: 550px) {

    .navigation {
        display: flex;
        font-size: large;
        justify-content: space-around;
    }
    .navigation li {
        display: block;
        flex: 1 1 100%;            
    }
    .navigation a {
        text-align: center;
    }
    #menu {
        display: none;
    }

    .gallery {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 1rem;
        justify-content: center;
        justify-items: center;        
    }
}


    
