body {
    font-family: 'Roboto';
}

header, main, footer {
    max-width: 640px;
    margin: 1rem auto;
    border: 1px solid gray;
    padding: 1rem;
    background-color: #b9c6d7;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
}

section {
    padding: 1rem;
    background-color: white;
}